@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row"> 
    <div class="col-md-12">

        <form method="get" 
              action="@Url.Action("Index")"
              data-otf-ajax="true" data-otf-target="#restaurantAjaxList">
            <input type="search" 
                   name="searchTerm" 
                   data-otf-autocomplete="@Url.Action("AutoComplete")" />
            <input type="submit" value="Search by name" />

        </form>
    
        @*@using (Ajax.BeginForm(
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "restaurantAjaxList"
            }
            ))
        {
            <input type="search" name="searchTerm" />
            <input type="submit" value="Search by name" />
        }*@


    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Restaurants</h2>
        <p>Here are the restaurants as RestaurantListViewModel.</p>

        <h3>Hello in your language is ~ @MVCWorkingWithData_2.Views.Home.Resource.Greeting</h3>

        @*This is being cached for a long period*@
        @Html.Action("SayHello");

        @*This is being cached for a short period*@
        @Html.Partial("_Restaurants", Model);


    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts {
}
